@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Lato', sans-serif;
    padding: 30px;
}


/****/

.userInput {
    display: flex;
    justify-content: center;
}

input {
    margin: 10px;
    height: 45px;
    width: 65px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: arimo;
    font-size: 1.2rem;
    background: #eef2f3;
}